# Environment variables
.env
.env.*
!.env.example

# Generated data files and content
published_post_url.txt
archive/

# Hugo / Static Site Generator
# Ignore the build output directory
/public/
# Ignore the resources cache
/resources/
# Ignore build stats
hugo_stats.json


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
